.adminLayout {
  background-color: #c6cbd2;
  height: 100vh;

  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media only screen and (max-width: 992px) {
    .grid {
      margin-right: 0 !important;

      .gridColumn {
        padding-right: 0 !important;
      }
    }
  }
}
