.navbar {
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .container {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;

    .organization {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      > .name {
        font-weight: 800;
        color: #212121;
        font-size: 1.1rem;
      }
    }
  }
}
