<!DOCTYPE html>

<html>
  <head>
    <title>Investor Ledger</title>

    <style>
      html {
        font-family: "helvetica neue", helvetica, arial, freesans, "liberation sans", "numbus sans l", sans-serif;
      }

      h1 {
        font-size: 2em;
        font-weight: 300;
        margin: 1em 0;
        text-align: center;
      }

      h1 > .small {
        font-size: 0.5em;
        font-weight: 300;
        color: #999;
      }

      .content {
        width: 800px;
        margin: auto;
      }

      table {
        width: 100%;
      }
    </style>
  </head>

  <body>
    <h1>
      Your investing account ($0 available)
      <div class="small">08/19/2014 - 10/15/2014</div>
    </h1>

    <div class="content">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Balance</th>
          </tr>
        </thead>

        <tbody>
          <!-- Table code goes here -->
          <tr>
            <th>Line item Date</th>
            <th>Line item Type</th>
            <th>Line item Description</th>
            <th>Line item Amount</th>
            <th>Line item Balance</th>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
